body{
    text-align: center;
}
.calc-div{
    margin-top: 8px;
}
.calc-div span{
    width: 100px;
    height: 50px;
}
.hint{
    color: red;
}
#result-div{
    margin-top: 10px;
}
#result-div .result{
    color: red; 
    font-weight: bold;
}
.calc-div img {
    width: 205px;
    height: 277px;
    /* background-image: url(/imgs/temp.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* 新页面 */
.selector-for-some-widget {
    box-sizing: content-box;
}
/* 最上面间距10px */
.lang-head {
    margin-top: 10px;
}
/* 活动类型四个字 */
.event-title {
    margin-top: 40px;
}
.other-title{
    margin-top: 40px;
}
/* 活动类型的样式 */
.event-type {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
}
.other-type {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px;
}
/* 使用说明四个字 */
.desc-title {
    margin-top: 40px;
}

/* 说明详情 */
.desc-detail {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}
/* 计算页面元素 */
.calc-content {
    margin-top: 50px;
}
/* 摸摸乐页面元素 */
.touch-content{
    margin-top: 50px;
}
/* 摸摸乐返回按钮 */
#other-back-btn{
    margin-top: 20px;
}
/* 摸摸乐元素间隔 */
.touch-div{
    margin-top: 15px;
}

/* 摸摸乐图片 */
.touch-div img {
    width: 205px;
    height: 277px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}